*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  background:#f4f4f4;
}

/* LOGIN */

.login-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box{
  background:white;
  padding:40px;
  width:350px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.login-box h1{
  margin-bottom:20px;
}

.login-box input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
}

.login-box button{
  width:100%;
  padding:12px;
  border:none;
  background:#007bff;
  color:white;
}

.error{
  color:red;
  margin-top:10px;
}

/* HEADER */

.header{
  background:#007bff;
  color:white;
  padding:20px;
  display:flex;
  justify-content:space-between;
}

.logout-btn{
  border:none;
  padding:10px;
}

/* DASHBOARD */

.dashboard{
  padding:30px;
}

/* FORM */

.task-form{
  background:white;
  padding:20px;
  border-radius:12px;
  margin:20px 0;
}

.task-form input,
.task-form textarea{
  width:100%;
  padding:12px;
  margin-bottom:15px;
}

/* GRID */

.tasks-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

/* CARD */

.task-card{
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.estado{
  display:inline-block;
  margin:10px 0;
  padding:5px 10px;
  background:orange;
  color:white;
  border-radius:8px;
}

.completada{
  background:green;
}

.task-actions{
  display:flex;
  gap:10px;
}

.complete-btn{
  background:green;
  color:white;
  border:none;
  padding:10px;
}

.delete-btn{
  background:red;
  color:white;
  border:none;
  padding:10px;
}